<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Portal</title>
</head>
<style>
    .header { background: #667b68; color: white; border: none; text-align: left; top: 0; left: 0; width: 100%; height: 4rem; margin-left: 0; position: fixed; }
    .header-text { color: white; text-align: left; margin-left: 10px; }
    body { background-color: #dde6d5; font-family: Arial, Verdana, sans-serif; margin-top: 5rem; }
    button { background-color: #667b68; color: white; border: none; text-align: center; display: inline-block; padding: 10px 24px; border-radius: 2px; border: 2px solid #667b68; }
    button:hover { background-color: white; color: #667b68; border: 2px solid #667b68; }
    column { float: left; width: 50% }
    row:after { content: ""; display: table; clear: both; }
</style>
<header class="header">
    <h2 class="header-text">Pet Portal</h2>
</header>
<body>
<h2>Add New Vet</h2> <br>
    <form action="#" th:action="@{/addNewVet}" th:object="${vet}" method="post">
        vet name <input type="text" id="vetname" name="vetname" th:field="*{vet_name}" placeholder="vet's name"><br><br>
        practice name <input type="text" id="practice" name="practice" th:field="*{practice_name}" placeholder="practice name" required><br><br>
        street address <input type="text" id="address" name="address" th:field="*{street_address}" placeholder="street address" required><br><br>
        city <input type="text" id="city" name="city" th:field="*{city}" placeholder="city" required><br><br>
        state <select id="state" name="state" th:field="*{state}" required>
        <option value="" disabled selected hidden>select</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AR">AR</option>
        <option value="AZ">AZ</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="IA">IA</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="MA">MA</option>
        <option value="MD">MD</option>
        <option value="ME">ME</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MO">MO</option>
        <option value="MS">MS</option>
        <option value="MT">MT</option>
        <option value="NC">NC</option>
        <option value="NE">NE</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NV">NV</option>
        <option value="NY">NY</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WI">WI</option>
        <option value="WV">WV</option>
        <option value="WY">WY</option>
        <option value="AS">AS</option>
        <option value="GU">GU</option>
        <option value="MP">MP</option>
        <option value="PR">PR</option>
        <option value="UM">UM</option>
        <option value="VI">VI</option>
    </select><br><br>
        zip code <input type="number" id ="zip" name="zip" th:field="*{zip_code}" placeholder="zip code" required><br><br>
        phone number <input type="tel" id="phone" name="phone" th:field="*{vet_phone}" placeholder="phone number" required>
        <small>format: 123-456-7890</small><br><br>
        fax number <input type="tel" id="fax" name="fax" th:field="*{vet_fax}" placeholder="fax number">
        <small>format: 123-456-7890</small><br><br>
        website url <input type="url" id="website" name="website" th:field="*{website}" placeholder="vet's website url"><br><br>
        email <input type="email" id="email" name="email" th:field="*{vet_email}" placeholder="vet's email address"><br><br>

        <button type="submit">Submit</button>
    </form><br><br>
    <a th:href="@{/petProfile}"><button type="button">Back to Profile</button></a>
</body>
</html>