<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Pet Portal | Log In</title>
</head>
<body>
  <h1>Welcome to Pet Portal!</h1>
  <h3>Sign in below to get started</h3>

  <form>
    Log In <br><br>
    <input type="text" id="email" name="email" placeholder="email" required><br><br>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <a th:href="@{/userProfile}"><button type="button">Log In</button></a>
    Don't have an account yet? Register <a th:href="@{/register}">here</a>!
  </form>
</body>
</html>