<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Portal</title>
</head>
<body>
    <h2><span th:text="${pet.pet_name}"></span>'s Profile</h2>
    <a th:href="@{/userProfile}"><button type="button">Back</button></a>

    <table>
        <tbody>
        <tr th:if="${pet==null}">
            <td colspan="2"> No Pet Info Available </td>
        </tr>
        <tr>
            <td>Name: </td>
            <td>Type: </td>
            <td>Breed: </td>
            <td>Color: </td>
            <td>Date of Birth: </td>
            <td>Date of Adoption: </td>
            <td>Sex: </td>
            <td>Spayed/Neutered: </td>
            <td>Weight: </td>
            <td>Microchip: </td>
            <td>License: </td>
            <td>About: </td>
        </tr>
        <tr>
            <td><span th:text="${pet.pet_name}"></span></td>
            <td><span th:text="${pet.pet_type}"></span></td>
            <td><span th:text="${pet.breed}"></span></td>
            <td><span th:text="${pet.color}"></span></td>
            <td><span th:text="${pet.DOB}"></span></td>
            <td><span th:text="${pet.DOA}"></span></td>
            <td><span th:text="${pet.sex}"></span></td>
            <td><span th:text="${pet.spayed_neutered}"></span></td>
            <td><span th:text="${pet.weight}"></span></td>
            <td><span th:text="${pet.microchip_number}"></span></td>
            <td><span th:text="${pet.license_number}"></span></td>
            <td><span th:text="${pet.about}"></span></td>
        </tr>
        </tbody>
    </table>
    <button>Edit Pet</button><br>

    <h3>Vets</h3>
        <span th:text="${pet.current_vet}"></span><br><br>


    <h3>Entries</h3>
        <a th:href="@{/addNewEntry}"><button type="button">Add New Entry</button></a>
</body>
</html>