<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Portal | Register</title>
</head>
<body>
<h1>Welcome to Pet Portal!</h1>
<h3>Register below to get started</h3>

<form>
    Register <br><br>
    <input type="text" id="email" name="email" placeholder="email" required><br><br>
    <input type="password" id="password" name="password" placeholder="password" required><br><br>
    <input type="text" id="fname" name="fname" placeholder="first name" required><br><br>
    <input type="text" id="lname" name="lname" placeholder="last name" required><br><br>
    <input type="text" id="phone" name="phone" placeholder="phone number (optional)"><br><br>
    <button onclick="window.location.href='./UserProfile.html'">Submit</button>

    <button onclick="window.location.href='./Login.html'">Back to Log In</button>
</form>
</body>
</html>