<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pet Portal</title>
</head>
<body>
<!--    <h1>Welcome <span th:text="${user.first_name}">no user found</span>!</h1>-->
    <h2>Pets</h2>


    <table>
        <tbody th:if="${pets==null or pets.empty}">
            <tr>
                <td colspan="2"> No Pet Info Available </td>
            </tr>
        </tbody>
        <tbody th:if="${pets!=null}">
            <tr th:each="pet : ${pets}">
                <td>Name: <span th:text="${pet.pet_name}"></span></td>
                <td>Type: <span th:text="${pet.pet_type}"></span></td>
                <td><button href="@{/petProfile}">View Pet</button></td>
                <td><button>Edit Pet</button></td>
                <td><form th:object="${pet}" th:action="@{/deletePet}" th:method="delete"><button type="submit">Delete Pet</button></form></td>
            </tr>
        </tbody>
    </table>


    <a th:href="@{/addNewPet}"><button type="button">Add new pet</button></a>

    <a th:href="@{/login}"><button type="button">Log Out</button></a>
</body>
</html>